//
// Mixins
//

//clearfix
%clear {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}


@mixin fontFace ($fontName, $fontFile, $fontWeight: normal, $fontStyle: normal) {
	@font-face {
		font-family: $fontName;
		font-weight: $fontWeight;
		font-style: $fontStyle;
		src: url($fontsDir + $fontFile + ".eot");
		src: url($fontsDir + $fontFile + ".eot?#iefix") format("embedded-opentype"),
			url($fontsDir + $fontFile + ".woff") format("woff"),
			url($fontsDir + $fontFile + ".ttf") format("truetype");
	}
}

//absolute vertical and horizontal centering
//parent must have position relative or absolute
//requires declared height
%absCenter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

//placeholder multidefinition
// usage:
//  input, textarea {
//    @include placeholder {
//      color: black;
//      font-style: italic;
//    }
//  }
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

//absolute position
@mixin abs($top: 0, $left: 0) {
	position: absolute;
	top: $top;
	left: $left;
}

//relative position
@mixin rel($top: 0, $left: 0) {
	position: relative;
	top: $top;
	left: $left;
}

//hidden element
%hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

//vertically centered text
@mixin verticalText($height, $subset: 0) {
	height: $height;
	line-height: ($height - $subset);
}


//backgorund definitions
@mixin bg($image, $position: 0 0, $repeat: no-repeat) {
	@if type-of($image) == string {
		background: url($imagesDir + $image) $repeat $position;
	}
}

@mixin bg($color) {
	@if type-of($color) == color {
		background-color: $color;
	}
}

@mixin bg($color, $image, $position: 0 0, $repeat: no-repeat) {
	@if type-of($color) == color and type-of($image) == string {
		background: $color url($imagesDir + $image) $repeat $position;
	}
}

@mixin bgImg($image) {
	background-image: url($imagesDir + $image);
}

//width and height
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin size($dim) {
	width: $dim;
	height: $dim;
}

//absolute position
@mixin abs($left: 0, $top: 0) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin absR($right: 0, $top: 0) {
	position: absolute;
	top: $top;
	right: $right;
}

@mixin absB($left: 0, $bottom: 0) {
	position: absolute;
	bottom: $bottom;
	left: $left;
}

@mixin absRB($right: 0, $bottom: 0) {
	position: absolute;
	bottom: $bottom;
	right: $right;
}

//relative position
@mixin rel($left: 0, $top: 0) {
	position: relative;
	top: $top;
	left: $left;
}

@mixin rel() {
	position: relative;
}

//fix position
@mixin fix($left: 0, $top: 0) {
	position: fixed;
	top: $top;
	left: $left;
}

//hidden element
@mixin hidden() {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

//vertically centered text
@mixin verticalText($height, $subset: 0) {
	height: $height;
	line-height: ($height - $subset);
}

//font definitions
@mixin font($color, $size, $weight, $style, $family) {
	@if type-of($color) == color {
		color: $color;
		font-family: $family;
		font-size: $size;
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin font($color, $size, $weight, $style) {
	@if type-of($color) == color {
		color: $color;
		font-size: $size;
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin font($color, $size, $weight) {
	@if type-of($color) == color {
		color: $color;
		font-size: $size;
		font-weight: $weight;
	}
}

@mixin font($color, $size) {
	@if type-of($color) == color {
		color: $color;
		font-size: $size;
	}
}

@mixin font($color) {
	@if type-of($color) == color {
		color: $color;
	}
}

@mixin font($size, $weight, $style, $family){
	@if type-of($size) == number {
		font-family: $family;
		font-size: $size;
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin font($size, $weight, $style){
	@if type-of($size) == number {
		font-size: $size;
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin font($size, $weight){
	@if type-of($size) == number {
		font-size: $size;
		font-weight: $weight;
	}
}

@mixin font($size){
	@if type-of($size) == number {
		font-size: $size;
	}
}